:root {
	--height-header: 60px;
	--height-todolist: 430px;
	--height-todolist-header: 30px;

	--width-todolist: 1300px;

	--color-green: #ff007f;
	--color-red-button: rgb(148, 21, 21);
	--color-red-li-hover: rgb(27, 172, 8);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

.content {
	width: 100%;
	height: 100%;
	/* padding-top: var(--height-header); */
	background-color: navy;

	display: flex;
	justify-content: center;
	align-items: center;
}

.body {
	height: var(--height-todolist);
	width: var(--width-todolist);
	background-color: var(--color-green);
	box-shadow: 5px 5px 5px black;
	border-radius: 5px;
    padding: 3px;
	display: flex;
}

.movie_wrap{
    display: flex;
    justify-content:space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin: 0;
}

ul > li{
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: relative;
    top: 20px;
    right: 40px;
}

ul > li > img{
	width: 200px;
	border-radius: 10px;
}

ul > li {
    display: flex;
    position: relative;
    bottom: 15px;
}


img{
	margin-top: 10px;
    height: 300px;
    width: 220px;
}

li{
    list-style: none;
}

button{
    height: 40px;
    width: 80px;
    border-radius: 30px;
    margin-top: 170px;
}



